body{
    font-family: 'Inter', sans-serif;
font-family: 'Plus Jakarta Sans', sans-serif;
font-family: 'Poppins', sans-serif;
}

*{
    margin:0;
    padding:0;
    text-decoration:none;
}

li{
    display: inline;
    list-style: none;
}

/* .pgrid{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit,minmax(370px,3fr));
    padding: 4em;
    margin-bottom: 40px;
  } */


.navcolor{
    padding-top:20px;
    padding-bottom:20px;
    background:#081B28;
}

.navflex{
    display:flex;
    justify-content:space-between;
    margin:auto;
    align-items:center;
    text-align:center;
    width:85%;
}

.navdiv ul a li {
    display: inline;
    list-style: none;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0;
    padding-right: 55px;
    text-decoration: none;
    color:white;
    /* list-style-type: none;
    color:white;
    display: inline;
    text-decoration:none;
    display:block; */
}

.navdiv{
    margin-left:20px;
}

.navdivauth ul a li{
    display: inline;
    list-style: none;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0;
    margin-right: 120px;
    text-decoration: none;
    color:white;
}

.navdivauth button{
    background: #EDBC23;
    border-radius: 8px;
    align-items: center;
    padding: 5px 20px;
    /* gap: 10px; */
    margin-left: 80px;
    font-Weight: 700;
    font-size: 16px;
    Line-height: 32px;
    Align-items: Center;
    color: #081B28;
    border: none;
    margin-top: 25px;
}

.navdiv li a{
    text-decoration:none;
    color:white;
    text-decoration:none;
}

.navdivregister ul a li {
    display: inline;
    list-style: none;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    padding-right: 55px;
    text-decoration: none;
    color:white;
    /* list-style-type: none;
    color:white;
    display: inline;
    text-decoration:none;
    display:block; */
}

.navdivregister li a{
    text-decoration:none;
    color:white;
    text-decoration:none;
}

.logout{
    text-decoration:none;
    color:white;
    text-decoration:none;
    background:transparent;
    border:none;
    font-size: 16px;
    font-weight: 700;
}

.userimg {
    width: 20px;
    height: 20px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 30px;
    margin-top:5px;
}

.navdivregister{
    align-items:center;
    margin:auto;
    text-align:center;
    display:flex;
    /* justify-content:center; */
}

.heroflex{
    display:flex;
    justify-content:space-between;
    margin:auto;
    width:83%;
    margin-top:30px;
}

.heromaintext h2{
    margin-top:50px;
    font-size:65px;
    font-weight:650;
    line-height:1.2em;
    color:#282828;
}

.heromaintext p{
    margin-top:15px;
    font-size:21px;
    font-weight:300;
    line-height:1.5em;
    color:#282828;
}

.wlbtnn {
    background: #EDBC23;
    border-radius: 8px;
    align-items: center;
    padding: 15px 40px;
    /* gap: 10px; */
    font-Weight: 700;
    font-size: 17px;
    Line-height: 32px;
    Align-items: Center;
    color: #081B28;
    border: none;
    margin-top:25px;
}

.everyoneflex{
    display:flex;
    margin:auto;
    width:83%;
    margin-top:50px;
}

.heroflex{
    display:flex;
    justify-content:space-between;
    margin:auto;
    width:83%;
    margin-top:30px;
}

.heromaintext h2{
    margin-top:50px;
    font-size:65px;
    font-weight:650;
    line-height:1.2em;
    color:#282828;
}

.heromaintext p{
    margin-top:15px;
    font-size:21px;
    font-weight:300;
    line-height:1.5em;
    color:#282828;
}

.everyoneimg img{
    margin-right:60px;
}

.everyonemaintext h2{
    margin-top:50px;
    font-size:45px;
    font-weight:600;
    line-height:1.2em;
    color:#282828;
}

.everyonemaintext p{
    margin-top:15px;
    font-size:18px;
    font-weight:300;
    line-height:1.8em;
    color:#282828;
}

/* Our approach */

.mainappflex{
    padding-top:100px;
    padding-bottom:100px;
    display:flex;
    justify-content:space-between;
    margin:auto;
    align-items:center;
    width:83%;
    margin-top:80px;
}

.appbg{
    background:#081B28;
    color:white;
}

.mainapp{
    flex-basis:51%;
}

.mainapp h1{
    color:#BA9318;
    font-size:42px;
}

.mainapp p{
    font-weight:200;
    line-height:1.9em;
    font-size:18px;
    margin-top:10px;
}

.mainappimg img{
    margin-top:50px;
}